* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	background-color: #fff;
	color: #000;
	font-family: $main-stack;
	margin: 0;
	padding-left: $gutter;
	padding-right: $gutter;
	transition: all $duration;

	&.dark-mode {
		background-color: #000;
		color: #fff;

		.grid__label,
		.palette__label {
			border-color: #fff;
		}

		.input {
			color: #fff;
		}

		.label {

			&--alt {
				color: #fff;
			}
		}

		.logo {

			svg {
				fill: #fff;
			}
		}

		.switch {
			border-color: #fff;

			&::after {
				border-color: #fff;
			}
		}
	}
}

a {
	color: $violet;
	transition: all $duration;

	&:focus,
	&:hover {
		color: #000;
	}
}

strong {
	font-weight: 500;
}

#brando {
	margin-left: auto;
	margin-right: auto;
	max-width: 1270px;
}

.coffee {
	border-radius: 0.2em;
	box-shadow: 2px 2px 10px rgba(#000, 0.3);
	display: inline-block;
	margin: 1em auto 2em;
	padding: 0.5em;

	img {
		display: block;
	}
}

.credit {
	font-size: 0.9em;
}

.sticky {
	position: sticky;
	top: $gutter;
}