.checkbox {
	display: none;

	&:checked {

		& + .switch {
			background-color: $violet;

			&:after {
				left: 34px;
			}
		}
	}
}

.switch {
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 32px;
	display: inline-block;
	cursor: pointer;
	height: 32px;
	position: relative;
	width: 64px;
	transition: all $duration;

	&::after {
		border: 2px solid #000;
		border-radius: 50%;
		content: "";
		height: 24px;
		left: 2px;
		position: absolute;
		top: 2px;
		transition: all $duration;
		width: 24px;
	}
}